body {
    background-color: #303446;
    font-family: sans-serif;
}
h1, p {
    color: #c6d0f5;
}

.main-nav {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 20px;
}

.parent a {
    color: #c6d0f5;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

.parent {
    position: relative;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #232634;
    list-style: none;
    top: 100%;
    left: 0;
    min-width: 120px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.3);
}

.dropdown li a {
    color: white;
    padding: 5px 10px;
    display: block;
}

.parent:hover .dropdown {
    display: block;
}

.dropdown li a:hover {
    background-color: #414559;
}